{% if template == 'list-collections' %}
  {% assign limit = settings.collections_preview_limit | times: 1 %}
{% elsif template == 'index' %}
  {% assign limit = settings.home_collection_limit | times: 1 %}
{% endif %}
<div class="collection">
  <div class="head">
    {% if template == 'list-collections' %}
      <a class="link" href="{{ collection.url }}"><h2>{{ collection.title }}</h2></a>
      <a class="link" href="{{ collection.url }}" title="{{ collection.title }}">{{ 'collections.general.view_all_products' | t }} &rsaquo;</a>
    {% else %}
      {% if collection.handle == 'all' %}
        <h2>{{ 'collections.general.catalog' | t }}</h2>
        {% if collection.products_count > 0 %}
          <h4>{{ 'collections.general.products_count' | t: count: collection.products_count }}</h4>
        {% endif %}
    {% comment %}
        <div class="filters">
          {% include 'collection-sorting' %}
          {% include 'type-filtering' %}
        </div>
    {% endcomment %}
      {% elsif collection.title == collection.current_type %}
        <h2>{{ collection.title }}</h2>
        {% if collection.products_count > 0 %}
          <h4>{{ 'collections.general.products_count' | t: count: collection.products_count }}</h4>
        {% endif %}
        <div class="filters">
          {% include 'collection-sorting' %}
          {% include 'type-filtering' %}
        </div>
      {% else %}
        <h2>{{ collection.title }}</h2>
        {% if collection.products_count > 0 %}
          <h4>{{ 'collections.general.products_count' | t: count: collection.products_count }}</h4>
        {% endif %}
        {% if collection.description != blank %}
          <div class="description">
            <h4>{{ collection.description }}</h4>
          </div>
        {% endif %}
        <div class="filters">
          {% include 'collection-sorting' %}
        </div>
      {% endif %}
    
    {% endif %}
  </div>

  {% if template == "index" %}
    <div class="products {{ settings.collections_layout }}">
      {% if collection.products_count > 0 %}
        {% for product in collection.products limit: limit %}
          {% include 'collection-product' %}
        {% endfor %}
      {% else %}
        {% if limit > 0 %}
          {% for i in (1..limit) %}
            {% include 'collection-product-onboarding' %}
          {% endfor %}
        {% endif %}
      {% endif %}
    </div>
  {% else %}
    {% if collection.products_count > 0 %}
      <div class="products {{ settings.collections_layout }}">
        {% for product in collection.products limit: limit %}
          {% include 'collection-product' %}
        {% endfor %}
        {% if template == 'collection' %}
          {% include 'collection-product-pagination' %}
        {% endif %}
      </div>
    {% else %}
      <h4>{{ 'collections.general.no_products' | t }}</h4>
    {% endif %}
  {% endif %}
</div>

