{% layout settings.customer_layout %}
{% include 'alert-header' %}
<div class="content">
  <h2>{{ 'customer.reset_password.title' | t }}</h2>
  <h4>{{ 'customer.reset_password.subtitle' | t: email: email }}</h4>
  {% form 'reset_customer_password' %}
    {% if form.errors %}
      {% assign alert = form.errors | default_errors %}
    {% endif %}
    <div class="row">
      <input class="full{% if form.errors contains 'password' %} error{% endif %}" name="customer[password]" id="reset_password" placeholder="{{ 'customer.reset_password.password' | t }}" type="password">
    </div>
    <div class="row">
      <input class="full{% if form.errors contains 'password_confirmation' %} error{% endif %}" name="customer[password_confirmation]" id="password_confirmation" placeholder="{{ 'customer.reset_password.password_confirm' | t }}" type="password">
    </div>
    <div class="row">
      <input class="btn action full" data-action="process" data-message="{{ 'customer.reset_password.submitting' | t }}" name="commit" type="submit" value="{{ 'customer.reset_password.submit' | t }}">
    </div>
    <div class="row left">
      {% include 'get-url-to-collections' %}
      {% capture link %}
        <a class="underscore" href="{{ collections_url }}">{{ 'customer.reset_password.return_to_store' | t }}</a>
      {% endcapture %}
      {{ 'general.navigation.cancel_html' | t: link: link }}
    </div>
  {% endform %}
</div>
{% include 'alert-footer' %}